body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outline {
    background-color: grey;
    padding: 10px;
    border: black 2px solid;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: black;
}

.result {
    display: flex;
    border: 1px black solid;
    height: 100px;
    align-items: center;
    justify-content: end;
    background-color: white;
}

.text-content {
    font-size: 70px;
    flex-wrap: nowrap;
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    display: flex;
    flex: 1 0;
}

button {
    flex: 1 0;
    padding: 30px;
    font-size: larger;
    font-weight: bold;
    border: 0.5px solid black;
    border-radius: 10px;
}

.number {
    background-color: orange;
}

.operator, .decimal {
    background-color: lightblue;
}

.equals {
    background-color: lightgreen;
}

.blank {
    background-color: black;
}

button:hover {
    opacity: 0.9;
}